<div class="certificate-container">
    <div class="certificate-row">
        <div class="certificate-col active-preview">
            <div class="certificate-col-time">
                <span data-i18n="certificate.extraMile2024Date"></span>
                <i class="fa-solid fa-arrow-up-right-from-square"
                    onclick="showCertificatePreview('Extra_Mile_2024.pdf', event)"></i>
            </div>
            <div class="certificate-col-title">
                <span data-i18n="certificate.extraMile2024Title"></span>
            </div>
            <div class="certificate-col-by">
                <span data-i18n="certificate.by"></span>
                <i data-i18n="certificate.extraMile2024By"></i>
            </div>
        </div>
        <div class="certificate-col">
            <div class="certificate-col-time">
                <span data-i18n="certificate.fireFighter2022Date"></span>
                <i class="fa-solid fa-arrow-up-right-from-square"
                    onclick="showCertificatePreview('Fire_Fighter_2022.pdf', event)"></i>
            </div>
            <div class="certificate-col-title">
                <span data-i18n="certificate.fireFighter2022Title"></span>
            </div>
            <div class="certificate-col-by">
                <span data-i18n="certificate.by"></span>
                <i data-i18n="certificate.fireFighter2022By"></i>
            </div>
        </div>
        <div class="certificate-col">
            <div class="certificate-col-time">
                <span data-i18n="certificate.javaFSLvl22022Date"></span>
                <i class="fa-solid fa-arrow-up-right-from-square"
                    onclick="showCertificatePreview('Java_Full_Stack_Level_2.pdf', event)"></i>
            </div>
            <div class="certificate-col-title">
                <span data-i18n="certificate.javaFSLvl22022Title"></span>
            </div>
            <div class="certificate-col-by">
                <span data-i18n="certificate.by"></span>
                <i data-i18n="certificate.javaFSLvl22022By"></i>
            </div>
        </div>
        <div class="certificate-col">
            <div class="certificate-col-time">
                <span data-i18n="certificate.javaFSLvl12021Date"></span>
                <i class="fa-solid fa-arrow-up-right-from-square"
                    onclick="showCertificatePreview('Java_Full_Stack_Level_1.pdf', event)"></i>
            </div>
            <div class="certificate-col-title">
                <span data-i18n="certificate.javaFSLvl12021Title"></span>
            </div>
            <div class="certificate-col-by">
                <span data-i18n="certificate.by"></span>
                <i data-i18n="certificate.javaFSLvl12021By"></i>
            </div>
        </div>
        <div class="certificate-col">
            <div class="certificate-col-time">
                <span data-i18n="certificate.awsCCP2021Date"></span>
                <i class="fa-solid fa-arrow-up-right-from-square"
                    onclick="showCertificatePreview('AWS_CCP.pdf', event)"></i>
            </div>
            <div class="certificate-col-title">
                <span data-i18n="certificate.awsCCP2021Title"></span>
            </div>
            <div class="certificate-col-by">
                <span data-i18n="certificate.by"></span>
                <i data-i18n="certificate.awsCCP2021By"></i>
            </div>
        </div>
    </div>
    <div class="certificate-preview" id="certificate-preview">
        <span data-i18n="main.loading"></span>
        <object data="assets/certificate/Extra_Mile_2024.pdf" type="application/pdf" width="100%" height="100%"
            aria-label="display certificate pdf">
            <span data-i18n="certificate.fallbackPDFOpening"></span>
            <a href="assets/certificate/Extra_Mile_2024.pdf" aria-label="certificate download pdf"
                data-i18n="certificate.downloadPDF"></a>
        </object>
    </div>
</div>