<div class="education-row">
    <div class="education-col">
        <div class="education-col-title">
            <span data-i18n="education.btechTitle"></span>
            <span class="education-col-marks" data-i18n="education.btechMarks"></span>
        </div>
        <div class="education-col-from">
            <span>
                <i data-i18n="education.btechFrom"></i>
            </span>
        </div>
    </div>
    <div class="education-col">
        <div class="education-col-title">
            <span data-i18n="education.class12Title"></span>
            <span class="education-col-marks" data-i18n="education.class12Marks"></span>
        </div>
        <div class="education-col-from">
            <span>
                <i data-i18n="education.class12From"></i>
            </span>
        </div>
    </div>
    <div class="education-col">
        <div class="education-col-title">
            <span data-i18n="education.class10Title"></span>
            <span class="education-col-marks" data-i18n="education.class10Marks"></span>
        </div>
        <div class="education-col-from">
            <span>
                <i data-i18n="education.class10From"></i>
            </span>
        </div>
    </div>
</div>