<div class="portfolio-row">
    <div class="portfolio-col">
        <div class="portfolio-content">
            <div class="portfolio-content-title" data-i18n="projects.portfolioTitle"></div>
            <div class="portfolio-content-desc">
                <span data-i18n="projects.portfolioDesc"></span>
                <div class="portfolio-content-time" data-i18n="projects.portfolioDate"></div>
            </div>
            <div class="portfolio-content-tech" data-i18n="projects.portfolioTech"></div>
        </div>
        <div class="portfolio-layer">
            <h2 data-i18n="projects.portfolioTitle"></h2>
            <a href="https://github.com/VermaNikunj/portfolio-website" target="_blank"
                aria-label="portfolio project github link">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </div>
    <div class="portfolio-col">
        <div class="portfolio-content">
            <div class="portfolio-content-title" data-i18n="projects.quizNewsAppTitle"></div>
            <div class="portfolio-content-desc">
                <span data-i18n="projects.quizNewsAppDesc"></span>
                <div class="portfolio-content-time" data-i18n="projects.quizNewsAppDate"></div>
            </div>
            <div class="portfolio-content-tech" data-i18n="projects.quizNewsAppTech"></div>
        </div>
        <div class="portfolio-layer">
            <h2 data-i18n="projects.quizNewsAppTitle"></h2>
            <a href="https://github.com/VermaNikunj/QuizNewsApp" target="_blank"
                aria-label="quiz news app github link">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </div>
    <div class="portfolio-col">
        <div class="portfolio-content">
            <div class="portfolio-content-title" data-i18n="projects.printMediaAppTitle"></div>
            <div class="portfolio-content-desc">
                <span data-i18n="projects.printMediaAppDesc"></span>
                <div class="portfolio-content-time" data-i18n="projects.printMediaAppDate"></div>
            </div>
            <div class="portfolio-content-tech" data-i18n="projects.printMediaAppTech"></div>
        </div>
        <div class="portfolio-layer">
            <h2 data-i18n="projects.printMediaAppTitle"></h2>
            <a href="https://github.com/VermaNikunj/Interactive-Print-Media" target="_blank"
                aria-label="interactive project media app using AR github link">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </div>
</div>