<div class="skills-row">
    <div class="skills-col">
        <div class="skills-col-title">
            <span data-i18n="skills.programmingLang">Programming Languages</span>
        </div>
        <div class="skills-col-content">
            <span>JavaScript</span>
            <span>TypeScript</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>SCSS</span>
            <span>Java 8</span>
            <span>XML</span>
        </div>
    </div>
    <div class="skills-col">
        <div class="skills-col-title">
            <span data-i18n="skills.jsFrameworks">JavaScript Frameworks</span>
        </div>
        <div class="skills-col-content">
            <span>Vue.js</span>
            <span>Angular</span>
            <span>Sencha Ext JS</span>
        </div>
    </div>
    <div class="skills-col">
        <div class="skills-col-title">
            <span data-i18n="skills.tools">Tools</span>
        </div>
        <div class="skills-col-content">
            <span>Visual Studio Code</span>
            <span>IntelliJ IDEA</span>
            <span>Postman</span>
            <span>Android Studio</span>
            <span>Unity</span>
            <span>pgAdmin</span>
        </div>
    </div>
    <div class="skills-col">
        <div class="skills-col-title">
            <span data-i18n="skills.database">Database</span>
        </div>
        <div class="skills-col-content">
            <span>PostgreSQL</span>
        </div>
    </div>
    <div class="skills-col">
        <div class="skills-col-title">
            <span data-i18n="skills.versionControl">Version Control</span>
        </div>
        <div class="skills-col-content">
            <span>Git</span>
        </div>
    </div>
</div>